footer#footer
    .container
        .row
            .col-12.col-md-6
                .logo
                    a.d-block(href="/" target="_blank")
                .text
                    p Matters Lab focuses on building Web3 social media ecosystem where users can collaboratively create and monetize digital assets, while controlling their own data and asset.
                .buttons
                    a.btn.social.twitter(href="https://twitter.com/Mattersw3b" target="_blank")
                        i.icon
                    a.btn.social.discord(href="https://discord.com/invite/matterslab" target="_blank")
                        i.icon
                    a.btn.social.telegram(href="#" target="_blank")
                        i.icon
                    a.btn.social.youtube(href="#" target="_blank")
                        i.icon
                    a.btn.social.opensea(href="#" target="_blank")
                        i.icon
                    a.btn.social.medium(href="https://matterslab.medium.com/" target="_blank")
                        i.icon
                    a.btn.social.instagram(href="#" target="_blank")
                        i.icon
                    a.btn.social.facebook(href="#" target="_blank")
                        i.icon
                    a.btn.social.matters(href="#" target="_blank")
                        i.icon
            .col-1.d-none.d-md-block
            .col-6.col-md-2
                .title
                    h3 Projects
                .list
                    ul
                        li
                            a(href="https://matters.news/" target="_blank") Matters.news
                        li
                            a(href="https://traveloggers.matters.news/" target="_blank") Traveloggers
                        li
                            a Writing Award
                        li
                            a The Space
            .col-1.d-none.d-md-block
            .col-6.col-md-2
                .title
                    h3 Company
                .list
                    ul
                        li
                            a(href="https://www.cakeresume.com/companies/matters/jobs" target="_blank") Join Us
                        li
                            a Github
                        li
                            a Blog