menu#menu
    ul
        li
            a.d-block(href="https://matters.news/" target="_blank") Matters.news
        li
            a.d-block(href="https://traveloggers.matters.news/" target="_blank") Traveloggers
        li
            a.d-block(href="https://twitter.com/thespace2022" target="_blank") The Space