menu#menu
    ul
        li
            a.d-block(href="https://matters.news/" target="_blank") Matters.News
        li
            a.d-block(href="https://traveloggers.matters.news/" target="_blank") Traveloggers
        li
            a.d-block(href="https://thespace.game/" target="_blank") The Space
        li
            a.d-block(href="https://logbook.matters.news/" target="_blank") Logbook