nav#nav
    .container-fluid.p-0
        .d-flex.justify-content-between.align-items-center
            .logo
                a.d-block(href="/" target="_blank")
            .navigation
                .d-flex.align-items-center
                    .d-none.d-lg-flex
                        a(href="https://matters.news/" target="_blank") Matters.News
                        a(href="https://traveloggers.matters.news/" target="_blank") Traveloggers
                        a(href="https://thespace.game/" target="_blank") The Space
                        a(href="https://logbook.matters.news/" target="_blank") Logbook
                        a.btn.social.twitter(href="https://twitter.com/Mattersw3b" target="_blank")
                            i.icon
                        a.btn.social.discord(href="https://discord.com/invite/matterslab" target="_blank")
                            i.icon
                    a.btn.outline(href="https://www.cakeresume.com/companies/matters/jobs" target="_blank")
                        span JOIN US
                    .mobile.d-lg-none
                        button.btn.menu(onclick="index.menu(true)")
                            i.icon
                        button.btn.close(onclick="index.menu(false)")
                            i.icon