nav#nav
    .container-fluid.p-0
        .d-flex.justify-content-between.align-items-center
            .logo
                a.d-block(href="/" target="_blank")
            .navigation
                .d-flex.align-items-center
                    a.d-none.d-lg-block(href="https://matters.news/" target="_blank") Matters.News
                    a.d-none.d-lg-block(href="https://traveloggers.matters.news/" target="_blank") Traveloggers
                    a.d-none.d-lg-block(href="https://www.thespace.game/" target="_blank") The Space
                    a.btn.outline(href="https://www.cakeresume.com/companies/matters/jobs" target="_blank")
                        span JOIN US
                    .mobile.d-lg-none
                        button.btn.menu(onclick="index.menu(true)")
                            i.icon
                        button.btn.close(onclick="index.menu(false)")
                            i.icon